@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-23 15:31:32
 * @version $Id$
 */
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-19 17:30:36
 * @version $Id$
 */
body {
  overflow: hidden;
  position: relative;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  position: relative;
}
p {
  padding: 0;
  margin: 0;
}
strong {
  font-weight: normal;
}
input,
button {
  border: none;
  outline: none;
  list-style-type: none;
}
textarea {
  border: none;
  outline: none;
  resize: none;
}
img {
  border: none;
  vertical-align: top;
}
em,
i {
  font-style: normal;
}
mark {
  background: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wrap {
  width: 100%;
  height: 100%;
  background: #fff;
}
.wrapper {
  position: absolute;
  left: 100%;
  top: 0;
}
.left_active {
  left: 0;
}
header {
  background: #1c1f30;
  text-align: center;
  height: 1.95rem;
  font-size: 0.81666667rem;
  line-height: 1.95rem;
  color: #fff;
  font-family: "微软雅黑";
  padding-top: 0.5rem;
  position: relative;
  z-index: 3;
}
header .cancle {
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 2.9rem;
  font-size: 0.63333333rem;
  line-height: 1.83333333rem;
  text-align: right;
}
header .cancle i {
  position: absolute;
  left: 0.8rem;
  top: 0.59rem;
  width: 0.5rem;
  height: 0.76666667rem;
  background: url(../image/sprite1.png) no-repeat -0.3rem -0.69rem;
  background-size: 1.05rem 10rem;
}
header .more {
  position: absolute;
  right: 0.51666667rem;
  top: 1.21666667rem;
  width: 2.05rem;
  height: 0.63333333rem;
  background: url(../image/sprite1.png) no-repeat 0 -2.21666667rem;
  background-size: 1.05rem 10rem;
}
.user_info {
  margin-top: 1.06666667rem;
  position: relative;
  height: 5.4rem;
  border-bottom: 0.05rem solid #f1f5f8;
}
.user_info .photo_wrap {
  position: absolute;
  left: 1.06666667rem;
  top: 0;
  width: 3.65rem;
  height: 3.65rem;
  border-radius: 50%;
  overflow: hidden;
}
.user_info .photo_wrap img {
  width: 3.65rem;
  height: 3.65rem;
}
.user_info div {
  position: absolute;
  left: 5.73333333rem;
  top: 0;
}
.user_info .user_name {
  font: 50rem/1080/18;
  line-height: 1.36666667rem;
  font-weight: bold;
  font-family: Arial;
  color: #2a2a2a;
}
.user_info .user_account {
  font-size: 0.56666667rem;
  line-height: 1rem;
  color: #2a2a2a;
}
.user_info .account_num {
  font-size: 0.5rem;
  font-weight: bold;
  font-family: "微软雅黑";
}
.user_info .user_account span {
  font-size: 0.56666667rem;
  line-height: 0.96666667rem;
}
.user_info .user_account u {
  font-size: 1.06666667rem;
  line-height: 64rem 60;
  font-weight: bold;
  color: #ff4993;
}
.account_btn {
  margin-top: 1.33333333rem;
}
.account_btn span {
  display: block;
  width: 16.85rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.83333333rem;
  line-height: 1.76666667rem;
  font-family: Arial;
  color: #fff;
  background: #5787f3;
  border-radius: 0.16666667rem;
}
.account_btn p {
  font-size: 0.63333333rem;
  text-align: center;
  color: #bbb;
  margin-top: 0.73333333rem;
}
.account_btn .back_btn {
  background: #ffa200;
}
.btnWrap {
  position: absolute;
  left: 0.61666667rem;
  bottom: 0.33333333rem;
  font-size: 0.83333333rem;
  line-height: 1.76666667rem;
  font-family: Arial;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background: #5787f3;
  width: 16.85rem;
  border-radius: 0.16666667rem;
}
.remind {
  width: 17.06666667rem;
  margin: 0 auto;
  padding: 0.8rem 0 1rem;
  font-size: 0.63333333rem;
  line-height: 1.23333333rem;
  color: #707070;
  letter-spacing: 0.06666667rem;
}
.renewal_tab {
  width: 17.06666667rem;
  margin: 0 auto;
}
.renewal_tab li {
  background: #5989f5;
  border-radius: 0.16666667rem;
  box-shadow: 0.1rem 0.2rem 0.1rem #9aafda;
  position: relative;
  margin-bottom: 0.88333333rem;
}
.renewal_tab li i {
  position: absolute;
  top: 1.31666667rem;
  right: 0.9rem;
  width: 3.03333333rem;
  height: 3.03333333rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 3.03333333rem;
  color: #4e3800;
  background: #ffbe00;
  border-radius: 51%;
  font-weight: bold;
  box-shadow: 0 0.1rem 0.1rem #446fce;
}
.renewal_tab span {
  display: block;
  color: #fff;
  padding-left: 0.8rem;
}
.renewal_tab .renew_days {
  font-size: 0.96666667rem;
  line-height: 2.56666667rem;
  font-weight: bold;
}
.renewal_tab .renew_days u {
  color: #fcff00;
}
.renewal_tab .renew_prise {
  font-size: 0.83333333rem;
  letter-spacing: 0.1rem;
}
.renewal_tab .renew_prise em {
  font-size: 1.43333333rem;
}
.renewal_tab .renew_date {
  font-size: 0.56666667rem;
  line-height: 1.76666667rem;
  color: #00d0ff;
  font-family: Arial;
}
.renewal_tab .renew_date u {
  color: #fff;
}
.renewa_history_list {
  position: absolute;
  top: 1.95rem;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}
.renewa_history_list li {
  width: 16.33333333rem;
  padding-left: 0.6rem;
  background: #5989f5;
  border-radius: 0.16666667rem;
  box-shadow: 0.1rem 0.2rem 0.1rem #9aafda;
  position: relative;
  margin: 0.88333333rem auto 0;
}
.renewa_history_list li span {
  display: block;
  color: #fff;
}
.renewa_history_list li p {
  padding: 0.78333333rem 0 0.58333333rem;
}
.renewa_history_list li mark {
  position: absolute;
  top: 0.7rem;
  right: 0.53333333rem;
  font-size: 0.6rem;
  line-height: 0.7rem;
  color: #fff;
}
.renewa_history_list li mark:before {
  content: "";
  position: absolute;
  left: -1.33333333rem;
  top: 0;
  display: block;
  width: 0.88333333rem;
  height: 0.88333333rem;
  background: url(../image/sprite1.png) no-repeat 0 -8.18333333rem;
  background-size: 1.05rem 10rem;
}
.renewa_history_list .book_name {
  font-size: 0.93333333rem;
  line-height: 2.7rem;
  font-weight: bold;
}
.renewa_history_list .book_author {
  font-size: 0.56666667rem;
}
.renewa_history_list .renew_time {
  font-size: 0.7rem;
  line-height: 1.13333333rem;
  font-weight: bold;
}
.renewa_history_list .book_img {
  position: absolute;
  right: 0.53333333rem;
  top: 2.25rem;
  width: 2.73333333rem;
  height: 3.96666667rem;
  box-shadow: -0.1rem 0.1rem #38518a;
}
.renewa_history_list .book_img img {
  display: block;
  width: 2.73333333rem;
  height: 3.96666667rem;
}
.book_info_one {
  border-bottom: 0.05rem solid #f2f3f7;
  position: relative;
}
.book_info_one p {
  padding-left: 0.73333333rem;
  color: #2a2a2a;
}
.book_info_one .book_title {
  font-size: 0.83333333rem;
  line-height: 1.7rem;
  font-weight: bold;
  margin-top: 1.13333333rem;
}
.book_info_one .bookAuthor,
.book_info_one .back_date {
  font-size: 0.63333333rem;
  line-height: 1.33333333rem;
}
.book_info_one .bookAuthor u,
.book_info_one .back_date u {
  color: #5787f3;
}
.book_info_one .back_date {
  margin-bottom: 1.16666667rem;
}
.book_info_one .bookPhotoWrap {
  position: absolute;
  right: 1.58333333rem;
  top: 0.33333333rem;
  width: 2.85rem;
  height: 4.08333333rem;
  background: url(../image/bookPhotoBg.png) no-repeat 0 bottom;
  box-shadow: -0.05rem 0.1rem 0.05rem #464042;
}
.book_info_one .bookPhotoWrap img {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.71666667rem;
  height: 3.93333333rem;
  border: 1px solid #c2c6c5;
  box-shadow: 0.05rem 0.03333333rem #b9b7b8;
  border-right: none;
}
.reader_info_one {
  padding: 0.83333333rem 0 0.93333333rem;
  border-bottom: 0.05rem solid #f2f3f7;
}
.reader_info_one p {
  padding-left: 0.81666667rem;
  font-size: 0.66666667rem;
  line-height: 1.5rem;
  font-family: Arial;
  color: #2a2a2a;
}
.reader_info_one p strong {
  font-size: 0.83333333rem;
  font-weight: bold;
}
.state_info_one p {
  padding: 1.1rem 0 0 0.81666667rem;
  font-size: 0.66666667rem;
  color: #2a2a2a;
}
.state_info_one p em {
  color: #ff7900;
  letter-spacing: 0.05rem;
}
.btn_wrap {
  position: absolute;
  left: 0.61666667rem;
  bottom: 0.33333333rem;
  font-size: 0.83333333rem;
  line-height: 1.76666667rem;
  font-family: Arial;
  text-align: center;
  color: #fff;
  font-weight: bold;
  width: 16.65rem;
}
.btn_wrap span {
  display: inline-block;
  width: 8.03333333rem;
  letter-spacing: 0.05rem;
  border-radius: 0.16666667rem;
}
.btn_wrap .renew_btn {
  float: left;
  background: #5787f3;
}
.btn_wrap .back_btn {
  float: right;
  background: #ffad00;
}
.photo_wrap_l {
  width: 18rem;
  height: 5.68333333rem;
  padding: 1.08333333rem 0 0.7rem;
  background: url(../image/bg1.png) no-repeat center center;
  background-size: 18rem;
}
.phottos {
  width: 3.65rem;
  height: 3.65rem;
  overflow: hidden;
  border: 0.05rem solid #b7cbfd;
  border-radius: 50%;
  margin: 0 auto;
}
.phottos img {
  width: 3.65rem;
  height: 3.65rem;
}
.user_na {
  font-size: 0.8rem;
  line-height: 2.03333333rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.info_list li {
  font-size: 0.66666667rem;
  line-height: 2.3rem;
  color: #2a2a2c;
  padding: 0 1.5rem 0 2.71666667rem;
  overflow: hidden;
  border-bottom: 0.03333333rem solid #eaeaea;
  position: relative;
}
.info_list li .left {
  float: left;
}
.info_list li .right {
  font-size: 0.56666667rem;
  color: #70706e;
  float: right;
}
.info_list .active {
  background: #eff3fe;
}
.info_list i {
  position: absolute;
  right: 0.6rem;
  top: 0.83333333rem;
  width: 0.43333333rem;
  height: 0.76666667rem;
  background: url(../image/sprite2.png) no-repeat 0 -6.95rem;
  background-size: 1.16666667rem 8.33333333rem;
}
.info_list em {
  posphoto_wrapition: absolute;
  left: 0.8rem;
  top: 0.6rem;
  width: 1.16666667rem;
  height: 1.16666667rem;
  background: url(../image/sprite2.png) no-repeat;
  background-size: 1.16666667rem 8.33333333rem;
}
.info_list .emOne {
  background-position: 0 -1.5rem;
}
.info_list .emTwo {
  background-position: 0 -4.31666667rem;
}
.info_list .emThird {
  background-position: 0 -5.61666667rem;
}
.info_list .emForth {
  background-position: 0 0;
}
.info_list .emFive {
  background-position: 0 -2.98333333rem;
}
/*?sigret page*/
.bg_wrap {
  background: #72B5F7 ;
}
.bg_wrap div {
  padding-top: 6rem;
}
.bg_wrap label {
  display: block;
  text-align: center;
  line-height: 2rem;
}
.bg_wrap label span {
  display: inline-block;
  width: 6rem;
  font-size: 1.33333333rem;
  color: #fff;
  text-align: left;
}
.bg_wrap label input {
  display: inline-block;
  width: 10rem;
  color: #a9a9a9;
  background: #f1f5f8;
  border: 0.03333333rem solid #dae3ea;
  border-radius: 0.16666667rem;
  font-size: 1.26666667rem;
  line-height: 1.26666667rem;
  text-indent: 0.1rem;
  vertical-align: middle;
}
.bg_wrap label input:focus {
  border-color: #5787f3;
}
.bg_wrap .login_btn_wrap {
  padding-top: 3rem;
}
.bg_wrap .sigret_btn {
  display: block;
  width: 13.33333333rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff;
  background: #73F720;
  margin: 0 auto;
  text-align: center;
  border-radius: 0.16666667rem;
}
.bg_wrap p {
  font-size: 0.8rem;
  line-height: 2rem;
  color: #1294F0;
  text-align: center;
  height: 2rem;
}
.bg_wrap .warn {
  color: red;
}
